.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  font-size: 42px;
  padding: 20px;
  text-align: center;
}

.App-items {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.todo-item {
  min-height: 35px;
  margin: 8px 0;
}

.todo-item.done {
  text-decoration: line-through;
  color: #ccc;
}

.todo-item-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item-label .text {
  margin-left: 8px;
  font-size: 32px;
  user-select: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}